.card {
    width: 100%;
}
.media {
    height: 150px;
}
.container {
    display: inline-block;
    width: 300px;
    margin: 10px;
    height: 280px;
}

.newContent {
    height: 118px;
    width: 90%;
}